.App {
  text-align: center;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--primary-color);
  border-top: 4px solid var(--primary-color-light);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(243, 238, 238);
}

.screen-wrapper-container {
  min-height: 100%;
}

.screen-wrapper-box {
  margin-inline: auto;
  padding: 12px;
  position: relative;
}

.page-text {
  margin-left: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  width: 40%;
}

.page-text h1 {
  font-size: 4rem;
  font-weight: 700;
}

.page-text p {
  font-size: 1.4rem;
  font-weight: 200;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}