:root {
    --primary-color-light: #f084372e;
    --primary-color: #F08337;
    --secondary-color : #f57c00;
    --error-color : #d32f2f;
    --warning-color : #ffa726;
    --info-color : #0288d1;
    --success-color : #388e3c;
    --black-color: #000000;
    --white-color: #ffffff;
  }